@use "variables";

.gallery {
  background-image: url("../images/gallery/Preorder_background.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding: 40ps 60px;
  overflow: hidden;
  position: relative;

  &__container {
    width: 1920px;
    // overflow-x: hidden;

    padding-top: 120px;
    padding-bottom: 120px;
    padding: 120px 60px;
    translate: 0%;
    @media (max-width: variables.$mobileBreakpoint) {
      padding: 40px 15px;
    }

    &--end {
      translate: -50%;
    }
  }

  &__modal {
    display: flex;
    position: fixed;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.9);
    width: 100%;

    &--hidden {
      display: none;
    }

    & #btn_close_modal {
      position: fixed;
      top: 0px;
      right: 0px;
      margin: 30px;
      z-index: 1;
    }

    .gallery__container {
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    #modal_image {
      width: auto;
      height: 100%;
      object-fit: contain;
      cursor: zoom-out;

      @media (max-width: variables.$desktopBreakpoint) {
        width: 70%;
      }
    }

    & button:hover path {
      fill: variables.$highlightColor;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(6, 25%);
    transition: transform 600ms ease-in-out;

    button {
      cursor: zoom-in;
    }

    @media (max-width: variables.$tabletBreakpoint) {
      grid-template-columns: repeat(6, 33.333%);
    }

    @media (max-width: variables.$mobileBreakpoint) {
      grid-template-columns: repeat(6, 100%);
    }
    li {
      list-style: none;
      padding-left: 10px;
      padding-right: 10px;
    }

    img {
      width: 100%;
    }
  }

  &__controlls {
    position: absolute;
    right: 60px;
    top: 70px;
  }

  &__controll {
    width: 45px;
    height: 40px;
    margin-left: 16px;
    cursor: pointer;
    z-index: 5;
  }

  &__icon {
    width: 24px;
    height: auto;
    & > path {
      fill: variables.$primaryColor;
    }
  }
}
