$primaryColor: #97ac9f;
$primaryColor--dark: #58675e;
$primaryColor--dark2: #758896;
$primaryColor--dark3: #a7b9c3;
$bgHighlight: #0a4a7c;

$neutralDark: #161b1f;
$borderFooter: #1a221e;
$highlightColor: #fff36b;

$mobileBreakpoint: 600px;
$tabletBreakpoint: 960px;
$desktopBreakpoint: 1200px;
