@use "variables";
@use "mixins";
@use "header";
@use "footer";
@use "monster";
@use "trailer";
@use "gallery";
@use "tabs";
@use "highlights";

:root {
  --scrollbar-width: calc(100dvw - 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$neutralDark;
  font-size: 16px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: variables.$primaryColor;
  // width: 100dvw;
}

img {
  width: 100%;
}

button {
  font-size: 16px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: variables.$primaryColor;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: variables.$highlightColor;
    border-color: variables.$highlightColor;
  }
}

a {
  color: variables.$primaryColor;
  display: inline-flex;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;

  @media (max-width: variables.$tabletBreakpoint) {
    padding: 0 15px;
  }
}

.disabled {
  opacity: 0.5;
  cursor: auto;
}

.icon_close {
  display: flex;
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & span {
    display: inline-block;
    width: 30px;
    height: 2px;
    // background-color: variables.$primaryColor;
    background-color: variables.$primaryColor;
    // transform-origin: left;
    &:first-child {
      transform: translateY(1px) rotate(45deg);
    }
    &:last-child {
      transform: translateY(-1px) rotate(-45deg);
    }
  }
}
